:root {
  --gradient: linear-gradient(
    -45deg,
    purple 0%,
    rgb(82, 148, 226) 100%
  );
  --darkGray: rgb(56, 60, 74);
  --lighterGray: rgb(64, 69, 82);
  --lightGray: rgb(75,81,98);
  --lightestGray: rgb(124, 129, 140);
  --blue: rgb(82, 148, 226);
  --text: #000;
  --darkmode: #fff;

  background-color: var(--darkmode);
  color: var(--text);
}

svg {
  position: absolute;
  height: 99vh;
  width: 99vw;
  z-index: -1;
  background-image: url(assets/37436.svg);
  background-color: var(--lightestGray);
  filter: blur(3px);
  background-repeat: no-repeat;
  max-width: 100vw;
  margin: -10px;
  background-size: cover;
}

/* NAV BAR */

.nav {
  width: 100vw;
  height: 50px;
  background-color: rgba(82, 148, 226, 0.75);
  position: fixed;
  display: flex;
  margin: -10px;
  z-index: 10;
  overflow: hidden;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.nav a {
  height: 30px;
  margin: auto;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  color: var(--text);
  font-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: x-large;
}

.nav a:hover {
  background-color: var(--blue);
}

/* Top welcome viewport*/

#viewPort {
  width: 100vw;
  height: 100vh;
  align-content: center;
  overflow: hidden;
  background: linear-gradient(125deg, transparent 0%, var(--darkmode) 40%);
  margin: -10px;
}

.top {
  display: flex;
  width: 70vh;
  margin: auto;
  justify-content: space-evenly;
  border-radius: 25px;
  flex-wrap: wrap;
  background: var(--gradient);
  color: black;
}

.welcome {
  width: 300px;
  height: 300px;
}
.boutYe {
  margin-top: auto;
  font-size: 70px;
  font-family: "Playfair Display", sans-serif;
}

.question {
  margin-top: -30px;
  font-family: "Playfair Display", sans-serif;
}
.blurb {
  font-family: "Faculty Glyphic", sans-serif;
}

.hi {
  width: 300px;
  height: 300px;
}
.top-img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid goldenrod;
  box-shadow: 5px 2px orange;
}
.hi h3 {
  margin: auto;
  font-size: 50px;
  font-family: "Caveat", sans-serif;
}

.next-button {
  text-align: center;
  padding-top: 200px;
}
#next-button {
  font-size: 35px;
  background-color: transparent; /*black;*/
  color: var(--text);
  width: 65px;
  height: 65px;
  border: 2px solid var(--lightestGray);
  border-radius: 50%;
  cursor: pointer;
  animation: bounce_513 1s infinite;
  padding-bottom: 10px;
}

@keyframes bounce_513 {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Projects  */

#projects {
  width: 100vw;
  width: 70%;
  display: flex;
  /*grid: repeat(1, 286px) / auto-flow;
  column-gap: 80px;*/
  flex-wrap: wrap;
  margin: auto;
  padding-top: 100px;
  /*  grid-template-columns: 190px 254px;
  column-gap: 80px; */
  row-gap: 30px;
  justify-content: space-around;
  
  
}
.project {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  flex-wrap: wrap;
  
}

.card{
  width: 190px;
  height: 254px;
  padding: 32px 24px;
  border-radius: 16px; 
  background:linear-gradient(rgba(75,81,98, 0.50) 50% , var(--darkmode) );
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  color: var(--text);
}

.card:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.30);
}

.card img{
  width: 190px;
  height: 150px;
  border:1px solid var(--blue);
  border-radius: 12px;
  
}

/*.card::before {
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 8px;
  z-index: -1;
}

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #383c4a;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  /*gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--lightestGray);
  justify-content: space-around;
  margin: 50px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 8px;
  background: var(--gradient);
  z-index: -1;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}*/

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}


.aboutMe {
  width: 70vw;
  background: linear-gradient(var(--darkmode), var(--darkmode)) padding-box,
    linear-gradient(145deg, var(--darkmode) 35%, purple, var(--blue)) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;


  box-sizing: border-box;
  border-radius: 16px;

  font-size: xx-large;
  color: var(--text);
  margin: 50px auto;
  font-size: large;
}

#skills{
  width: 70vw;
  margin: 50px auto;
  text-align: center;
  color: var(--text);
  width: 70vw;
  background: linear-gradient(var(--darkmode), var(--darkmode)) padding-box,
    linear-gradient(-145deg, var(--darkmode) 35%, purple, var(--blue)) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  border-radius: 16px;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
}

#skills .icons{

  color: var(--text);
  display:flex;
  flex-direction:row;
  margin: 0% 2% 3% 3%;  
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.icons img {
  height: 80px;
}





.form-container {
  width: 70vw;
  background: linear-gradient(var(--darkmode), var(--darkmode)) padding-box,
    linear-gradient(145deg, var(--darkmode) 35%, purple, var(--blue)) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;

  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;

  font-size: xx-large;
  color: var(--text);
  margin: auto;
}

/*

@media (min-width: 360px) {
  .top {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 0px;
    box-shadow: 0px 0px lightgray;
    flex-wrap: wrap;
  }
}

@media (min-width: 540px) {
  .top {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 0px;
    box-shadow: 0px 0px lightgray;
    flex-wrap: wrap;
  }
}
@media (min-width: 780px) {
  .top {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 3px 3px black;
    flex-wrap: wrap;
  }
}
@media (min-width: 1080px) {
}
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top {
    display: flex;
    width: 95%;
    align-items: center;
    margin-top: 50px;
    background: transparent;

    background: -webkit-linear-gradient( -45deg,
    purple 0%,
    rgb(82, 148, 226) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .welcome {
    align-content: center;
  }
  .hi {
    margin-left: 20%;
   
  }
  #viewport {
    height: 100%;
    overflow:visible;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


